@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

*{
    box-sizing: border-box;
    /* 前一個檔案學到加上padding跟border會導致原本設置的長寬會變更大，加上這個後padding跟border就會往內切，而最大值將會保持在你設定的長寬。 */
}
body {
    height: 1000px;
    margin: 0;
    padding: 0;
  }
  
.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/background.jpg') no-repeat center center;
    opacity: 0.5;
    background-size: cover;
}

#horizontalMenu {
    text-align: right;
}

.main-nav{
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(188, 222, 233, 0.8);
    border-bottom: 1px ridge #ccc;
    z-index: 10;
}


#horizontalMenu > .navMenuLink{
    max-width: 148px;
}

.navMenuLink{
    color:hsla(210, 26%, 7%, 0.7);
    list-style-type: none;
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding:0;
    margin:0;
}

header {
    /* height: 100vh; 使 header 擁有整個視窗高度 */
    display: flex;
    flex-direction: column; /* 讓內容垂直排列 */
}
.head_title {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    flex-direction: column; /* 垂直排列 */
    width: 100%;
    height: 100%;
    opacity: 1.0;
    z-index: 2;
    position: relative;
}

.title {
    margin-top: 80px; /* 距離上方的間距 */
    margin-bottom: 0;
    width: 25%;
    height: 25%;
}


.image_over{
    position: relative;
}

.image-container {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    position: relative;
    width: 100%;
    height: 100%;
  }

.image{
    z-index: -2;
    clip-path: path("M 497.8 250.1 C 497.8 224 510.8 196.3 502.8 172.8 C 494.6 148.4 466.8 133.4 451.5 113.1 C 436 92.6 429.6 62.7 408.3 47.8 C 387.2 33.1 355.7 36.4 330.4 28.4 C 305.9 20.8 282.6 0 255.5 0 C 228.4 0 205 20.7 180.6 28.4 C 155.3 36.3 123.7 33 102.6 47.8 C 81.3 62.7 74.9 92.6 59.4 113.1 C 44 133.4 16.3 148.4 8 172.8 C 0.1 196.3 13 224 13 250.1 C 13 276.2 0 303.9 8 327.4 C 16.2 351.8 44 366.8 59.3 387.1 C 74.8 407.6 81.2 437.5 102.5 452.4 C 123.6 467.2 155.1 463.9 180.5 471.8 C 205 479.4 228.3 500.2 255.4 500.2 C 282.5 500.2 305.9 479.5 330.3 471.8 C 355.6 463.9 387.2 467.2 408.3 452.4 C 429.6 437.5 436 407.6 451.5 387.1 C 466.9 366.8 494.6 351.8 502.8 327.4 C 510.8 303.8 497.8 276.1 497.8 250.1"); 
    background: rgb(246, 244, 245);
    opacity: 0.8;
    width: 100%;
    height: 100%;
}

.illustrate{
    display: flex;
    margin-top: 5px;
    color: rgb(94, 79, 50);
    font-family: 'Noto Sans TC', serif;
    font-size: 30px;
    align-items: center;
}


