
  <div class="background-container"></div>
  <header>  
  <nav class="main-nav">
    <ul id="horizontalMenu">
      <li class="navMenuLink">
        <a class="navMenuLinkContent" title="清單">選項</a>
      </li>
    </ul>
  </nav>
  <div class="head_title">
    <img class="title" src="assets/LOGO.png" alt="LOGO">
    <!-- https://zh.pngtree.com/freepng/banyan-tree-logo-插圖_8987903.html'>png 圖片來源於 zh.pngtree.com/ -->
  <span class="illustrate">welcome</span>
  <span class="illustrate">這裡是各種關於數據收集平台，以下大致分為三種<br>分別是大眾運輸工具、垃圾回收、其他</span>
  </div>
</header>


<router-outlet></router-outlet>
