<div class="title-container">
    <div class="title">廢棄物處理</div>
</div>


<div class="container">
    <div class="illustrate">
        <h2>廢棄物焚化率</h2>
        <p>
            台灣廢棄物焚化率是指將垃圾進行焚燒處理的比例。<br>這些垃圾通常是無法進行回收再利用的，因此通過焚燒來減少體積和危害。<br>焚化廠使用高溫燃燒技術，將廢棄物轉化為灰渣和煙氣，並同時發電，回收能源。
        </p>
   
        <h2>廢棄物回收率</h2>
        <p>
            台灣廢棄物回收率是指將垃圾中能夠回收再利用的部分進行回收的比例。<br>回收再利用可有效減少對環境的影響，節約資源，並減少對掩埋場和焚化廠的需求。<br>回收包括紙張、塑料、金屬等可再利用的材料，通過回收進入再生產循環。
        </p>
    </div>
    <div class="iframe-page">
        <iframe src="http://34.80.175.10:5601/kibana_iframe/app/dashboards#/view/3f80fc60-30d1-11ee-afac-f7bcffaa2a37?embed=true&_g=(filters%3A!())" height="600" width="800"></iframe>
    </div>
    <div> 
        <!-- 回到首頁的按鈕，使用 Angular 的路由導航回首頁 -->
        <button class="back-to-home" (click)="navigateToHome()"></button>
    </div>