<div class="title-container">
    <div class="title">各縣市一般廢棄物處理</div>
</div>

<div class="wrapper">
    <div class="container">
        <div class="illustrate">
            <h2>台灣廢棄物可分為</h2>
            <ul>
                <li>資源垃圾</li>
                <li>廚餘</li>
                <li>一般垃圾</li>
            </ul>
        </div>
        <div class="iframe-page">
            <iframe src="http://34.80.175.10:5601/kibana_iframe/app/dashboards#/view/3f80fc60-30d1-11ee-afac-f7bcffaa2a37?embed=true&_g=(filters%3A!())" height="600" width="800"></iframe>
        </div>
    </div>
</div>
<div> 
    <!-- 回到首頁的按鈕，使用 Angular 的路由導航回首頁 -->
    <button class="back-to-home" (click)="navigateToHome()"></button>
</div>

<footer class="footer">
    <div class="info">
      <div class="info-message">
        <span class="from"> 資料來源：</span>
      </div>
    </div>
</footer>