@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

/* 標題 */
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: bold;
  color: #ffffff; /* 字體顏色 */
  background-color: rgba(48, 47, 49, 0.7); 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.title::before {
  content: "♻️"; 
  margin-right: 10px;
}


.title-container {
  display: flex;
  margin-bottom: 30px;
  margin-left: 20px; /* 這裡調整左邊的間距 */
}


@media screen and (max-width: 768px) {
  .title{
    font-size:28px;
  }
  .title-container {
    max-width: 80%;
  }
}


@media screen and (max-width: 576px) {
  .title{
    font-size:24px;
  }
  .title-container {
    max-width: 60%;
  }
}

.wrapper {
  background-color: #ffffff; /* 白色底色 */
  border-radius: 10px; /* 圓角 */
  padding: 20px; /* 設定內邊距，可根據需求自行調整 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 加入陰影效果，讓容器有立體感 */
  margin: 20px;
  display: flex;
}

/* 將 iframe 置中 */
.container {
  font-family: "cwTeXYen", sans-serif;
  line-height: 1.6;
  padding: 20px;
  display: flex;
  justify-content: center;
  margin: 20px 100px;
  border-radius: 30px;
}




/* 返回頁首按鈕 */
.back-to-home {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .back-to-home:before {
    content: "\2190";
  }
    
    /* 按鈕懸停效果 */
    button:hover {
      background-color: #45a049; /* 懸停時的背景顏色 */
    }
    
    /* 按鈕點擊效果 */
    button:active {
      background-color: #207c23; /* 點擊時的背景顏色 */
    }


/* 頁尾樣式 */
.footer {
  margin-top: 20px;
  background-color: #fbf9ff;
  padding: 5px;
  text-align: center;
}

.info {
  display: flex;
  justify-content: start;
  align-items: center;
}

    
.info-message {
  margin: 10px;
  font-size: 18px;
  color: #1f4b06;
  font-family: 'Noto Sans TC', sans-serif;
}

.from::before {
  content: "♻️"; 
  margin-right: 10px;
}