@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);



/* 頁首樣式 */

header {
    flex-direction: column; /* 讓內容垂直排列 */
    margin:2vw;
    position: relative; /* 讓 header 成為相對定位的容器 */
}

/* 導航欄容器 */
.navgation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; /* 調整高度根據您的需求 */
  background-color: transparent; /* 設定初始為透明 */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0 20px; */
  z-index: 999;
  opacity: 0; /* 初始時設為透明 */
  transition: opacity 0.3s; /* 添加過渡效果 */
}

/* 滑到main標籤起始處後，將導覽欄顯示為非透明 */
header.show-nav .navgation {
  opacity: 1;
}


/* 導航欄容器 */
.sidenav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; /* 調整高度根據您的需求 */
  background-color: rgb(9, 162, 29); 
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  transition: background-color 0.3s; /* 添加過渡效果 */
  
}


/* 漢堡按鈕容器 */
.menu {
  display: none;
  text-decoration: none;
}

/* 移除連結底線 */
.mat-button-base .mat-button-wrapper {
  text-decoration: none;
}

/* 小漢堡在螢幕縮小時顯示 */
button[aria-label="Toggle sidenav"] {
  display: block;
  margin-left: auto;
}

/* 隱藏桌面尺寸下的小漢堡 */
@media (min-width: 768px) {
  button[aria-label="Toggle sidenav"] {
    display: none;
  }

  .drawer-content {
    display: none;
  }

  .menu {
    display: flex;
    align-items: center;
  }
}

/* 橫向選單樣式 */
.drawer-content a {
  display: block;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s;
}

.drawer-content a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* 漢堡選單容器 */
.drawer-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: rgba(55, 152, 118, 0.585);
  padding: 20px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1); /* 边框颜色和透明度 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 立体感 */
  min-width: 200px; /* 最小宽度，根据内容调整 */
}

/* 隐藏大屏幕下的 .drawer-content */
.hide-drawer-content .drawer-content {
  display: none;
}

.head_title {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    flex-direction: column; /* 垂直排列 */
    width: 100%;
    height: 100%;
    z-index: 2;
    background-image: url('../../assets/home-img.png');
    background-size: contain;
    background-position: center; /* 將背景圖片置中 */
    background-repeat: no-repeat; /* 不重複背景圖片 */
    transform: scale(.8);
}

.title {
    position: relative;
    margin-top: 2vw; /* 距離上方的間距 */
    margin-bottom: 0;
    width: 30vw;
    height: 30vw;
}

.welcome-font{
    position: relative;
    margin-top: 7vw;
    background-color: aliceblue;
    border: 0.1vw solid #ccc;
    border-radius: 40px;
    padding: 0.5vw 0.5vw;
    margin-bottom: 4vw;
}

.welcome{
    color: #e26776;
    font-family: 'cwTeXYen', serif;
    font-size: 2vw;
}

.illustrate{
    display: flex;
    margin-top: 5px;
    color: #004b84;
    font-family: 'Noto Sans TC', serif;
    font-size: 6vw;
    align-items: center;
}

/* 主題樣式 */

main {
    flex: 1 ;
    display: block;
    background-color: rgb(248, 248, 248); /* 設定背景顏色並調整透明度 */
    padding: 20px; 
    box-sizing: border-box; /* 確保 padding 不會影響容器寬度 */
    display: flex;
    flex-direction: column; /* 讓內容垂直排列 */
    /* align-items: center;  *//* 水平置中 */
  }
  

.main-title-container {
    display: flex;
  }

.main-title {
    display: inline-block;
    background-color: aliceblue;
    border: 2px solid #004b84; /* 調整邊框顏色 */
    border-radius: 20px;
    padding: 1vw 2vw; /* 調整 padding 值，增加內容和邊框之間的距離 */
    margin-bottom: 4vw;
    margin-top:5px;
    text-align: left;
    align-self: flex-start;
  }
  
  .main-title h2 {
    font-size: 30px;
    color: #004b84;
    font-family: 'Noto Sans TC', serif;
    margin: 0; /* 移除預設的 h2 標籤邊距 */
  }

 .main-list {
    background-color: rgba(188, 222, 233, 0.8);
    display: flex;
    justify-content: center;
    border-radius: 40px; /* 圓角半徑 */
    flex-wrap: wrap; /* 讓容器自動換行，以避免擠在一起 */
    padding: 40px 40px; /* 加入 padding 來調整容器內容與邊框的距離 */
    gap: 100px; /* 設置容器之間的水平和垂直間距 */
    box-sizing: border-box; /* 確保 padding 不會影響容器寬度 */
    margin: 0 auto;
    flex-grow: 1;
 }  

/* 頁尾樣式 */

footer {
    background-color: #484f94;
    color: #fff;
    text-align: center;
    padding: 30px 0;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .earth-img {
    margin-bottom: 20px;
  }
  

  .earth {
    width: 8vw;
    height: 8vw;
  }
  
  .option {
    text-align: center;
  }
  
  .option span {
    font-size: 18px;
    color: #e26776;
  }
  
  .option p {
    font-size: 14px;
    line-height: 1.6;
  }