
<div class="background-container"></div>
<header>  
<nav class="main-nav">
  <ul id="horizontalMenu">
    <li class="navMenuLink">
      <a class="navMenuLinkContent" title="清單">選項</a>
    </li>
  </ul>
</nav>
  
  <div class="head_title">
    <div class="welcome-font">
    <span class="welcome">W E L C O M E</span>
    </div>
    <span class="illustrate">綠色資訊整合平台</span>
    <img class="title" src="../../assets/LOGO.gif" alt="LOGO">
  </div>
</header>
<main>
 <div class="main-list">
  <app-mainitem></app-mainitem>  <app-mainitem></app-mainitem>  <app-mainitem></app-mainitem>
 </div>
</main>
