
<header>  
  <div class="head_title">
    <div class="welcome-font">
    <span class="welcome">W E L C O M E</span>
    </div>
    <span class="illustrate">綠色資訊整合平台</span>
    <img class="title" src="../../assets/LOGO.gif" alt="LOGO">
  </div>
</header>
<main>
  <div class="container">
    <div class="about-esg">
      <img class="esgimg" src="../../assets/aboutESG.png" alt="ESG" title="aboutESG">
    </div>
    <div class="main-content">
      <div class="main-title-container">
        <div class="main-title">
          <h2><span class="leaf-icon">🍃</span> 環境保護也是大家共同關心的事：</h2>
    <ul>
      <li>環境保護包含碳排放量、污水管理、環境汙染防治與控制</li>
      <li>我們可以從以下方面來看：</li>
    </ul>
        </div>
      </div>
      <div class="main-list" >
        <app-mainitem *ngFor="let image of images" [path]="image.path" [title]="image.title" [linkrouter]="image.linkrouter"></app-mainitem>
      </div>
    </div>
  </div>
</main>
<footer>
  <div class="footer-content">
    <div class="earth-img">
      <img class="earth" src="../../assets/img.svg" alt="earth">
    </div>
    <div class="option">
      <span>如果有任何建議，歡迎來信</span>
      <p>If you have any comments or suggestions, <br> you can send them to the following <br>email: hello@reallygreatsite.com.</p>
    </div>
  </div>
</footer>
