@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

/* 標題 */
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: bold;
  color: #ffffff; /* 字體顏色 */
  background-color: rgba(48, 47, 49, 0.7); 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.title::before {
  content: "🌿"; /* 這裡使用了一個植物的表情符號作為示例，你可以換成你喜歡的其他圖示 */
  margin-right: 10px;
}


.title-container {
  display: flex;
  margin-bottom: 30px;
  margin-left: 20px; /* 這裡調整左邊的間距 */
}


@media screen and (max-width: 768px) {
  .title{
    font-size:28px;
  }
  .title-container {
    max-width: 80%;
  }
}


@media screen and (max-width: 576px) {
  .title{
    font-size:24px;
  }
  .title-container {
    max-width: 60%;
  }
}

.wrapper {
  background-color: #ffffff; /* 白色底色 */
  border-radius: 10px; /* 圓角 */
  padding: 20px; /* 設定內邊距，可根據需求自行調整 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 加入陰影效果，讓容器有立體感 */
  margin: 20px;
}




/*選單佈局 */
.select-container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 20px 10vw;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  padding:20px;
  border-radius: 10px;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 1.2rem;
  color: #064b23;
}


@media (max-width: 768px) {
  .select-container {
    grid-template-columns: 1fr; /* 將列數改為 1，使元素垂直堆疊 */
    grid-auto-flow: row;
  }    

}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;
}


select {
  padding: 8px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-family: 'cwTeXYen', sans-serif;
  
}


.instructions {
  text-align: start;
  font-size: 1.5vw;
  line-height: 1.5;
}


/* 將 iframe 置中 */
.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* 媒體查詢 */
@media (max-width: 600px) {
  /* 視窗寬度小於600px時，設定container的最大寬度 */

  .container iframe {
    width: 100%; 
    height: 100%; 
  }
}


/* 圖片輪播 */
.img-container{
  background-color: #cfd4eeb4;
  padding: 20px;
  margin: 20px 60px;
  border-radius: 20px;
}

.icon {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  width: 100%;
  position: relative;
  font-family: 'Noto Sans TC', sans-serif; 
  line-height: 1.5; 
  color: #105503; 
  text-align: left;
  font-size: 3vw;
  margin-top: 20px;

  .star-icon {
    margin-right: 5px; 
  }
}

.carousel {
  overflow: hidden;
  width: 100%;
  max-width: 80vw; /* 輪播容器的最大寬度 */
  margin: 0 auto; /* 水平居中 */
}

.slide {
  display: flex;
  transition: transform 0.5s ease; /* 使用transform實現平滑過渡 */
}

.can {
  flex: 0 0 50%;
}

.can img {
  max-width: 100%;
  height: auto;
}

/*回到頁首*/
.back-to-home {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .back-to-home:before {
    content: "\2190";
  }
    
    /* 按鈕懸停效果 */
    button:hover {
      background-color: #45a049; /* 懸停時的背景顏色 */
    }
    
    /* 按鈕點擊效果 */
    button:active {
      background-color: #207c23; /* 點擊時的背景顏色 */
    }

    /* 網頁最底下 */
    .footer {
      margin-top: 20px;
      background-color: #fbf9ff;
      padding: 5px;
      text-align: center;
    }
    
    .info {
      display: flex;
      justify-content: start;
      align-items: center;
    }
    
    .info-message {
      margin: 10px;
      font-size: 18px;
      color: #1f4b06;
      font-family: 'Noto Sans TC', sans-serif;
    }

    .from::before {
      content: "🌿"; 
      margin-right: 10px;
    }
    
    .info-message a {
      color: #064b23;
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      transition: color 0.2s ease;
    }
    
    .info-message a:hover {
      color: #b32a00;
    }

    /* 響應式設計 */
@media screen and (max-width: 768px) {

  .info {
    flex-direction: column;
  }

}