<div class="title-container">
    <div class="title">各縣市工廠環境監控與汙染管制</div>
</div>
<div class="wrapper">
    <div class="container">
        <div class="city-buttons">
            <!-- 使用 *ngFor 循环来创建按钮 -->
            <button *ngFor="let city of cities" (click)="loadCity(city)">{{ city }}</button>
          </div>
          <iframe [src]="iframeUrl" height="600" width="800"></iframe>
    </div>
</div>

<div> 
    <!-- 回到首頁的按鈕，使用 Angular 的路由導航回首頁 -->
    <button class="back-to-home" (click)="navigateToHome()"></button>
</div>


<footer class="footer">
    <div class="info">
      <div class="info-message">
        <span class="from"> 資料來源：</span>
      </div>
    </div>
</footer>